In [24]:
import pandas as pd
import numpy as np
#import nltk.tokenize
#import itertools
#import datetime

from sklearn.model_selection import train_test_split

from pathlib import Path

import csv
from copy import copy, deepcopy
from enum import Enum

## Create set of validation .txt

In [25]:
df = pd.read_csv('https://storage.googleapis.com/w210-capstone/data/lyrics-valid.csv',
                     header=None, escapechar='\\',
                     names=['msd_id', 'lyrics'])

# only keep lyrics with length < 5000
df = df[df.lyrics.str.len() < 5000]
df_train, df_test = train_test_split(df, test_size=0.2, random_state=2018)

In [26]:
df_test.head()

                   msd_id                                             lyrics
76112  TRCZUSO12903CEF31D  [Verse 1]\nShe sat all alone on a bus out of B...
20961  TRHSXRA12903CF2525  I see myself in a sea of gray\nColors fade no ...
66903  TRQTRBL128F429A2F5  Dove sei stata\nCom’è che stai\nNon conosci pi...
88993  TRZHJVG128F4237411  Oh, DJ Taz\n\nChorus: Neka, DJ Taz\n\nThat's r...
71436  TRZMPZW128F934B7A4  [Verse 1]\nI know a girl from a lonely street\...

In [44]:
for i,row in df_test.iterrows():
    filename = '../data/lyrics/validation/{}.txt'.format(row['msd_id'])
    with open(filename, 'wb') as f:  #, newline=''
        f.write(row['lyrics'].encode('ascii','ignore'))

In [47]:
df2 = pd.read_csv('../../transfer/w210-capstone/data/lyrics_tags.csv',
                     header=None, escapechar='\\'
                  #,names=['msd_id', 'lyrics']
                 )

# only keep lyrics with length < 5000
#df2 = df2[df.lyrics.str.len() < 5000]
#df_train, df_test = train_test_split(df, test_size=0.2, random_state=2018)

In [48]:
df2.head()

,0,1,2,3,4,5
0,NaN,msd_id,lyrics,tag1,tag2,tag3
1,0,TRAADJU128F92F58E1,I hear you praying with your hands clasped ove...,NaN,NaN,NaN
2,1,TRAADQX128F422B4CF,If you ever make it back to Nashville\nRemembe...,Lo-Fi,indie,indie
3,2,TRAAFTE128F429545F,Just when I thought I was safe\nYou found me i...,pop,irish,irish
4,3,TRAAKAG128F4275D2A,Paroles de la chanson Sultao Das Matas :\nSult...,metal,under two minutes,under two minutes